.detail{
  display:grid;

  grid-template-columns:1rem auto 1rem;
  grid-template-rows:auto auto;
  grid-template-areas:
    "detail-fullcontent detail-fullcontent detail-fullcontent"
    ". detail-content .";
}

.detail > picture{
  grid-area: detail-fullcontent;
  grid-row: 1;

  position:relative;

  height:calc((100vh - 5rem) / 2);
  overflow:hidden;
}

.detail > picture img{
  display:block;
  position:absolute;
  top:50%; left:50%; transform: translate(-50%, -50%);
  width:100%; height:100%;
  object-fit:cover;
}

.detail .article{
  grid-area: detail-content;

  margin-top:-2rem; padding:1rem 1rem 6rem;

  background:var(--white); box-shadow:var(--box-boxShadow);
  z-index:1;
}

.detail .article h1{
  margin:.5rem 0 0;
  font-size:2.8rem; line-height:3.2rem;
}

.detail .article h2{
  margin:1rem 0 0;
  font-weight:300; font-size:1.8rem; line-height:2.4rem; font-family:var(--font-family-Roboto);
}

.detail .article h3{
  margin:.8rem 0 0;
  font-size:2rem;
}

.detail .article p,
.detail .article ul{
  margin:1.1rem 0 0;
  font-weight:300; font-size:1.6rem; line-height:2.2rem;
}

.detail .article ul li{
  padding:.6rem 0 0 1rem;
}

.detail .article ul li:first-of-type{
  padding:0 0 0 1rem;
}

.detail .article li span{
  color:var(--grey);
}

.detail .article .gallery{
  display:grid;
  grid-template-columns:66% .1rem 34%;
  grid-template-rows:50% .1rem 50%;

  margin:1.5rem 0 1.6rem -2rem;
  width:calc(100% + 4rem); height:calc((100vh - 5rem) / 3);
  background:var(--white);
}

.detail .article .gallery picture{
  position:relative;
}

.detail .article .gallery .one{
  grid-column:1 / 2;
  grid-row:1 / 4;

  background:var(--darkerGrey);
  overflow:hidden;
}

.detail .article .gallery .two{
  grid-column:3 / 4;
  grid-row:1 / 2;

  background:var(--darkerGrey);
  overflow:hidden;
}

.detail .article .gallery .three{
  grid-column:3 / 4;
  grid-row:3 / 4;

  background:var(--darkerGrey);
  overflow:hidden;
}

.detail .article .gallery img{
  display:block;
  position:absolute;
  
  top:50%; left:50%; transform: translate(-50%, -50%);

  width:100%; height:100%;
  object-fit:cover;
}

.detail .article .social{
  display:flex; justify-content: space-between;
  margin:2.5rem auto 0;
  width:16.5rem;
}

.detail .article .social a{
  display:inline-block;
  width:3rem; height:3rem;
  text-align:center;
  border-radius:50%;
}

.detail .article .social a.email{
  background:var(--grey);
}

.detail .article .social a.fb{
  background:var(--fb-background);
}

.detail .article .social a.tw{
  background:var(--tw-background);
}

.detail .article .social a.gp{
  background:var(--gp-background);
}

.detail .article .social a i{
  font-size:1.3rem; line-height:3rem;
  color:var(--white);
}

.detail .article .date-author{
  margin:2.5rem auto 0;
  width:calc(100% - 4rem);
  max-width:30rem;
}

.detail .article .date-author p.date{
  font-style:italic; font-size:1.2rem; color:var(--grey); text-align:center;
}

.detail .article .date-author p.date span{
  font-weight:400; color:var(--blueStone);
}

.detail .article .date-author .author{
  position:relative;
  margin-top:.8rem; padding-left:7.7rem;
}

.detail .article .date-author .author h4{
  font-size:1.6rem;
}

.detail .article .date-author .author p{
  margin:.5rem 0 0;
  font-size:1.2rem; line-height:1.8rem; color:var(--grey);
}

.detail .article .date-author .author img{
  position:absolute; top:0; left:0;
  width:6.5rem; height:6.5rem;
  background:var(--body-background); border-radius:50%;
}

.detail .article .related{
  margin-top:5rem;
}

.detail .article .related ul{
  margin-top:.6rem;
}

.detail .article .related ul li{
  margin-top:2rem; padding:0; 
}

.detail .article .related ul li:first-of-type{
  margin:0;
}

.detail .article .related ul li h4{
  margin-top:.9rem;
  font-size:1.6rem; line-height:1.6rem;
}

.detail .article .related ul li picture{
  display:block; position:relative;
  width:100%; height:calc((100vw - 4rem) / 2);
  overflow:hidden;
}

.detail .article .related ul li picture img{
  position:absolute;
  top:50%; left:50%; transform: translate(-50%, -50%);
  width:100%; height:100%;
  object-fit:cover;
}

@media (--sm) {

  .detail{
    grid-template-columns:2rem auto 2rem;
  }

  .detail .article{
    padding:1.6rem 2rem 8rem;
  }

  .detail .article h1{
    font-size:4rem; line-height:4.6rem;
  }

  .detail .article h2{
    margin:1.8rem 0 0;
    font-size:2.2rem; line-height:2.8rem;
  }

  .detail .article h3{
    margin:1.9rem 0 0;
    font-size:2.4rem;
  }

  .detail .article p,
  .detail .article ul{
    margin:2rem 0 0;
    font-size:1.8rem; line-height:2.4rem;
  }

  .detail .article ul li{
    padding:.6rem 0 0 2rem;
  }
  
  .detail .article ul li:first-of-type{
    padding:0 0 0 2rem;
  }

  .detail .article .gallery{
    margin:2.5rem 0 2.2rem -4rem;
    width:calc(100% + 8rem); height:calc((100vh - 5rem) / 2);
  }

  .detail .article .gallery img{
    top:50%; left:50%; transform: translate(-50%, -50%);
  }

  .detail .article .gallery .two img,
  .detail .article .gallery .three img{
    left:50%;
  }

  .detail .article .social{
    display:flex; justify-content: space-between;
    margin:2rem 0 0 auto;
    width:20rem;
  }
  
  .detail .article .social a{
    width:4rem; height:4rem;
  }
  
  .detail .article .social a i{
    font-size:2rem; line-height:4rem;
  }

  .detail .article .date-author{
    margin:1.9rem 0 0 0;
    width:34.5rem;
    max-width:none;
  }  

  .detail .article .date-author p.date{
    text-align:left;
  }

  .detail .article .date-author .author p{
    margin:.5rem 0 0;
    line-height:1.8rem;
  }

  .detail .article .related ul{
    display:flex; justify-content: space-between;
    margin-top:1.4rem;
  }  

  .detail .article .related ul li{
    margin:0; padding:0;
    width:calc(50% - 1rem);
  }

  .detail .article .related ul li h4{
    margin:.9rem 0 0 .5rem;
    width:calc(100% - 4rem);
  }

  .detail .article .related ul li picture{
    height:16rem;    
  }  
    
}

@media (--lg) {

  .detail{
    grid-template-columns:4rem auto 4rem;    
  }

  .detail > picture{
    height:calc(100vh - 13.4rem);
  }

  .detail .article{
    margin:calc(((100vh - 13.4rem) / 2) * -1) auto 0;
    max-width:102.4rem;
    padding:3rem 4rem 10rem;
  }

  .detail .article h1{
    margin:0;
    font-size:5rem; line-height:5.6rem;
  }  

  .detail .article h2{
    margin:2.4rem 0 0;
    font-size:2.4rem; line-height:3.2rem;
  }

  .detail .article h3{
    margin:2.8rem 0 0;
    font-size:2.4rem;
  }

  .detail .article p,
  .detail .article ul{
    margin:2.9rem 0 0;
    font-size:1.8rem; line-height:2.6rem;
  }
  
  .detail .article ul li{
    padding:.9rem 0 0 2rem;
  }
  
  .detail .article ul li:first-of-type{
    padding:0 0 0 2rem;
  }

  .detail .article .gallery{
    margin:3.4rem 0 3.5rem -4rem;
  }

  .detail .article .social{
    margin:3.4rem 0 0 auto;
    width:22rem;
  }

  .detail .article .date-author{
    margin:3.3rem 0 0;
  } 
  
  .detail .article .date-author p.date{
    font-size:1.4rem;
  }  

  .detail .article .related {
    margin-top:8.7rem;
  }  

  .detail .article .related ul li{
    margin:0; padding:0;
    width:calc(50% - 2rem);
  }
  
  .detail .article .related ul li h4{
    margin:.9rem 0 0 .5rem;
    font-size:2rem; line-height:2rem;
  }  

  .detail .article .related ul li picture{
    height:20rem;    
  } 

}