#header{
  display:flex; justify-content:space-between; align-items:center;

  padding:0 1rem;
  height:5.4rem;

  color:var(--blueStone);
  background:var(--white);
}

#header nav li{
  float:left;
  margin:.1rem 0 0 .8rem;
  font-weight:300; font-size:1.8rem; text-transform: uppercase;
}

#header nav li.category{
  display:none;
}

#header nav li a{
  color:var(--lighterGrey);
}

#header nav li:first-of-type{
  margin:0;
  font-size:2.1rem;
}

#header nav li a:hover,
#header nav li:first-of-type a,
#header a.topics{
  color:var(--blueStone);
}

#header a.topics{
  display:inline-block;
  margin-top:-.1rem;
  width:2rem; height:1.5rem;
  background:url(../assets/img/css/header/menu_handle.svg) right center no-repeat;
  text-indent:-9999em;
}

#utils{
  display:flex; justify-content:flex-end; align-items:center;

  padding:0 1rem;

  font-size:2rem; color:var(--orange);
  background:var(--blueStone);
}

#utils a{
  font-size:1.2rem; color:var(--orange); text-transform:uppercase;
}

#utils i{
  margin-top:-.1rem;
  font-size:2rem;
}

@media (--sm) {

  #header{
    height:7rem;
  }

  #utils,
  #header{
    padding:0 2rem;
  }  

  #header nav li{
    margin:.4rem 0 0 1.9rem;
    font-size:2.1rem;
  }  

  #header nav li.category{
    display:block;
  }

  #header nav li:first-of-type{
    font-size:2.7rem;
  }

  #header a.topics{
    margin-top:-.1rem;
    width:10rem;
    font-weight:300; font-size:2.1rem; text-transform:uppercase;
  }  

  #header a.topics:before{
    content:'Topics';

    float:left;
    margin-top:-.4rem; margin-right:.9rem;
    text-indent:0;
  }

  #utils a:before{
    content:'Login';
    
    float:left;
    margin-right:.9rem;
    line-height:2rem;
  } 

}

@media (--lg) {

  #header{
    height:9rem;
  }

  #utils,
  #header{
    padding:0 4rem;
  }

  /* ELEMENTS */

  #header nav li{
    margin:.5rem 0 0 3.8rem;
  }    

  #header nav li:first-of-type{
    font-size:2.9rem;
  }    

}