#nav{
  position:fixed; z-index:1;
  top:0; right:0;
  padding:4rem;
  width:30%; height:100vh; overflow:hidden;
  background:var(--blueStone);
}

#nav h1{
  font-weight:100; font-size:5rem; font-family:var(--font-family-Roboto); color:var(--lighterGrey); text-transform:uppercase; text-align:center;
}

#nav h2{
  margin:1.4rem 0 4rem 0;
  font-weight:300; font-size:1.8rem; line-height:2.6rem; font-family:var(--font-family-Roboto); color:var(--grey); text-align:center;
}

#nav a{
  font-size:2.4rem; font-family:var(--font-family-Racing); color:var(--orange);
}